/* Reset styles */
* {
  margin: 0;
  padding: 0;

}

/* Root variables */
:root {
  --bg-color: rgb(246, 246, 246);
  --menu-color: rgb(1, 22, 56);
  --sp-color: rgb(202, 21, 75);
}

/* Header styles */
header {
  background-color: var(--bg-color);
  padding: 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 82.9px;
  height: 61.77px;
}

/* Left navigation styles */
.left-nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Microsoft PhagsPa';
  font-weight: 700;
  font-size: 20px;
  line-height: 25.39px;
}

.left-nav li {
  margin: 20px;
}

.left-nav a {
  text-decoration: none;
}

.left-nav a:hover {
  background-color: var(--menu-color);
  color: var(--bg-color);
  padding: 20px;
  border-radius: 50px;
}

/* Second list styles */
.second-list {
  margin-left: auto;
}

.number {
  color: var(--sp-color);
  font-size: 20px;
  line-height: 25.39px;
  font-family: 'Microsoft PhagsPa';
  font-weight: 700;
}

/* Right navigation styles */
.right-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-nav li {
  margin: 20px;
}

/* Social icons styles */
.social-icons {
  margin: 20px;
}

.social-icons img {
  margin: 5px 0 0 30px;
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.2);
  color: var(--menu-color);
}

/* Main heading styles */
h3 {
  font-family: 'Almarai';
  font-size: 48px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--sp-color);
}

h1 {
  font-family: 'Microsoft New Tai Lue';
  font-size: 96px;
  font-weight: 700;
  line-height: 126px;
  letter-spacing: 0em;
  text-align: center;
}

/* Paragraph styles */
p {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

span {
  color: var(--sp-color);
}

/* Button styles */
.btn-btn {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.bt-hire {
  background-color: var(--sp-color);
  width: 230px;
  height: 60px;
  color: var(--bg-color);
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  line-height: 27px;
  transition: all 0.2s;
  border: none;
}

.bt-hire:hover {
  background-color: var(--menu-color);
}


/* Hamburger menu icon styles */


/* CSS for animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animation to elements */
h3, h1, p {
  animation: fadeInUp 1s ease forwards;
  opacity: 0; /* Ensures the elements start hidden */
}

@media  (max-width: 952px) {
  .logo {
    margin-right: auto; /* Push logo to the left */
  }

  nav ul li a{
    font-size: 20px;
  }
}

.icon{
  display: none;
}
@media  (max-width: 858px) {
  .icon{
    display: block;
  }
  .logo {
    margin-right: auto; /* Push logo to the left */
  }
  nav.icon{
    display: block;
    float: right;
    position: fixed;
  }

  .second-list ul{
   display: flex;
   flex-direction: column;
   justify-content: center;
   transition: all .5s;
   margin: 0 0 0 -40px;
  }

  .right-nav, .left-nav{
  width: 445px;
   position: relative;
   right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
  }
.social-icons{
  display: flex;
  margin: 0 0 0 -100px;
}
  nav ul li{
    display: block;
  }

  nav ul li a{
    font-size: 20px;
    color: var(--menu-color);
  }
  ul li img{
    display: inline-block;
  }
 
  h3{
    font-size: 30px;
    padding: 10px;
  }
  h1{
    font-size: 55px;
    padding: 10px;
    line-height: 95px;
  }

  p{
    text-align: center;
    font-size: 17px;
  }

  .bt-hire{
    width: 400px;
  }
}

@media (min-width: 1920){

}